<div class="page">
  <div class="panel panel-default">
    <ol class="breadcrumb">
      <li class="active">
        <a [routerLink]="['/']"><i class="icon-home"></i> Home</a>
      </li>
    </ol>
    <div class="panel-body">
      <h2> String Sorting Service</h2>
      <div>
        <input type="text" class="form-control" placeholder="Input String..." [(ngModel)]="text" />
        <button type="submit" class="btn btn-primary" (click)="clicked()">Submit</button>
        <button type="button" class="btn btn-danger" (click)="clear()">Clear</button>
      </div>
      <h2>Response</h2>
      <pre>{{ response_data | json}}</pre>
    </div>
  </div>
</div>
