<div class="page">
  <div class="panel panel-default">
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/']"><i class="icon-home"></i> Home</a>
      </li>
      <li><a [routerLink]="['/message']">Message Bus</a></li>
      <li class="active">{{photo.title}}</li>
    </ol>
    

    <div class="panel-body">
      
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Flickr Push Feed</h4>
      </div>
      
      <div style="padding-top:10px;padding-bottom:10px;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div>
           <div>Feed Id  -  {{photo.id}}</div>
           <div>Updated Date  -  {{photo.updatedDate | UTC:true}}</div>
           <div>Timestamp  -  {{timestamp}} -  <b>Display</b> </div>
        </div>
      </div>


      <div *ngIf="photo.deletedEntries?.length > 0" style="padding-top:10px;padding-bottom:10px;"  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Deleted Entries</h4>
        <div *ngFor="let item of photo.deletedEntries">
             <div>{{item.when}}   {{item.id}}     </div>
        </div>
      </div>


      <div *ngIf="machineKeyValidation" style="padding-top:10px;padding-bottom:10px;"  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Machine Key Validation</h4>
        <div>validatedOn: {{machineKeyValidation.validatedOn | UTC}}</div>
        <div>passed: {{machineKeyValidation.passed}}</div>
        <div>
             <div *ngFor="let item of machineKeyValidation.machineKeys">Machine Key: {{item.machineKey}}</div>
        </div>
      </div>



      <table class="table table-striped table-hover">
        <tr *ngFor="let item of photo.entries">
          <td><img src="{{item.mediaContent.url}}" height={{item.mediaContent.height}} width={{item.mediaContent.width}} /></td> 
          <td>
            <div><b>{{item.title}}</b></div>
            <div>Photo Id: {{item.id}}</div>
            <div>Date Taken: {{item.dateTaken | UTC | date: 'MM/dd/y HH:mm'}}</div>
            <div *ngIf="item.categories.length > 0">Category: <i *ngFor="let c of item.categories" class="label label-info">{{c.term}}</i></div>
          </td>
          <td>
            <div>Author: {{item.author.name}}</div>
            <div>Author URL: {{item.author.url}}</div>
            <div>Updated Date: {{item.updatedDate | UTC | date:'short'  }}</div>
            <div>
              <div *ngIf="item.displayCategories.displayCategory[0] != 'E'" >
                  Display Categories: {{item.displayCategories | json}} 
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
