<div class="page">
  <div class="panel panel-default">
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/']"><i class="icon-home"></i> Home</a>
      </li>
      <li><a [routerLink]="['/message']">Message Bus</a></li>
      <li class="active">{{photo.title}}</li>
    </ol>
    

    <div class="panel-body">
      
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>{{source}}</h4>
      </div>
      
      <div style="padding-top:10px;padding-bottom:10px;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div>
           <div>Feed Id  -  {{photo.id}}</div>
           <div>Updated Date  -  {{photo.updatedDate | UTC:true}}</div>
           <div>Timestamp  -  {{timestamp}}</div>
        </div>
      </div>
      <div *ngIf="photo.deletedEntries?.length > 0" style="padding-top:10px;padding-bottom:10px;"  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Deleted Entries</h4>
        <div *ngFor="let item of photo.deletedEntries">
             <div>{{item.when}}   {{item.id}}     </div>
        </div>
      </div>
      <div *ngIf="machineKeyValidation" style="padding-top:10px;padding-bottom:10px;"  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Machine Key Validation</h4>
        <div>Validated Time: {{machineKeyValidation.validatedOn | UTC}}</div>
        <div>Passed: <span class="label" [ngClass]="{'label-success' : machineKeyValidation.passed == true, 'label-danger' : machineKeyValidation.passed == false}">{{machineKeyValidation.passed.toString() | capitalize }}</span></div>
        <div style="margin-top:10px;"><b>Keys</b></div>  
        <div>
             <div *ngFor="let item of machineKeyValidation.machineKeys">
              <div>
                <i>{{item.machineKey}}</i>  
               <span class="label" [ngClass]="{'label-success' : item.result == true, 'label-danger' : item.result == false }">{{item.result}}</span> 
              </div>  
            </div>
        </div>
      </div>
      <div *ngFor="let item of photo.entries" class="property_wrapper col-md-12 col-xs-12" [ngClass]="{'green': item.valid == true, 'red': item.valid == false}">
        <div class="col-md-2">
          <a href="{{item.mediaContent.url}}">
              <img class="img-thumbnail img-responsive" src="{{item.mediaContent.url}}" height={{item.mediaContent.height}} width={{item.mediaContent.width}} >
          </a>
        </div>
        <div class="col-md-10">
          <div class="col-md-12">
            <span class="title">{{item.title}}</span>
          </div>
          <div class="col-md-4">
            <div>
              <span><b>Photo Id :</b></span>
              <span>{{item.id}}</span>
            </div>
            <div>
              <span><b>Date Taken :</b></span>
              <span>{{item.dateTaken | UTC | date: 'MM/dd/y HH:mm'}}</span>
            </div>
            <div>
              <span><b>Updated Date :</b></span>
              <span>{{item.updatedDate | UTC | date:'short'}}</span>
            </div>
          </div>
          <div class="col-md-8">
            <div>
              <span><b>Author :</b></span>
              <span>{{item.author.name}}</span>
            </div>
            <div>
              <span><b>Author URL :</b></span>
              <a href="{{item.author.url}}" target="_blank">{{item.author.url}}</a>
            </div> 
            <div>
              <span><b>Photo URL :</b></span>
              <a href="{{item.photoUrl}}" target="_blank">{{item.photoUrl}}</a>
            </div>     
          </div>
          <div class="col-md-10">
            <div [ngClass]="{'success': item.categories.length > 0, 'failed': item.categories.length == 0}">
              <div *ngIf="item.categories.length > 0"><span><b>Category :</b> <font *ngFor="let c of item.categories">{{c.term + ', '}}</font></span></div>
              <div>
                  <span><b>Display Categories :</b> <font *ngFor="let c of item.displayCategories.displayCategory">{{c + ', '}}</font></span>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
