<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
  <!-- START navbar header-->
  <div class="navbar-header">
    <a class="navbar-brand" href="#/">
      <div class="brand-logo">
        <a href="#">Navigator Photo Agent</a>
      </div>
      <div class="brand-logo-collapsed">
        <a href="#">NPA</a>
      </div>
    </a>
  </div>
  <!-- END navbar header-->
  <!-- START Nav wrapper-->
  <div class="nav-wrapper">
  </div>
  <div class="nav-logout-line">
      <div class="welcome-user">Welcome, {{name}} {{familyName}}</div><a href="#" (click)="logoff()" class="log-off-link">Log off</a>
  </div>
  <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar-->
