<div class="page managment-page">
    <div class="panel panel-default">
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']"><i class="icon-home"></i> Home</a>
            </li>
            <li class="active"><a [routerLink]="['/management']" asp-controller="Management">Management</a></li>
        </ol>
        <div class="panel-body">
            <div class="row records-row" id="managment-filter-row">
                <div class="filter-container">
                    <label>Method</label>
                    <select class="form-control managment-method-filter-select" [(ngModel)]="method" (ngModelChange)="changeMethod($event)">
                        <option value=""></option>
                        <option *ngFor="let m of methods" value="{{m}}">{{m}}</option>
                    </select>
                </div>
                <div class="filter-container">
                    <label>Start Date</label>
                    <input (click)="isCollapsedStart = !isCollapsedStart" type="text" class="form-control" [(ngModel)]="startTime">
                    <div [collapse]="!isCollapsedStart" style="position: absolute; z-index: 999999">
                        <datepicker id="startTime" [maxDate]="maximumDate" [(ngModel)]="startTime" (ngModelChange)="changeStartTime($event)"></datepicker>
                    </div>
                </div>
                <div class="filter-container">
                    <label>End Date</label>
                    <input (click)="isCollapsedEnd = !isCollapsedEnd" type="text" class="form-control" [(ngModel)]="endTime">
                    <div [collapse]="!isCollapsedEnd" style="position: absolute; z-index: 999999">
                        <datepicker id="endTime" [minDate]="minimumDate" [(ngModel)]="endTime" (ngModelChange)="changeEndTime($event)"></datepicker>
                    </div>
                </div>
            </div>
            <div class="row records-row">
                <select [ngModel]="limit" (ngModelChange)="perPageChanged($event)" class="form-control form-correction-select">
                    <option [value]="p" *ngFor="let p of perPage">{{p}}</option>
                </select>
                records per page
            </div>
            <div class="row delete-padding-on-small-screen">
                <table class="table-bordered table-striped table-condensed responsive-tbl responsive-tbl table-fixed-layout table-managment">
                    <thead>
                        <tr>
                            <th>Body</th>
                            <th>Date</th>
                            <th>Method</th>
                            <th>Status</th>
                            <th>Subscription</th>
                            <th>Mode</th>
                            <th>Topic</th>
                            <th>Host</th>
                            <th>IP Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items.results">
                            <td data-title="Body"><span *ngIf="item.method == 'POST' && item.statusCode == '200'" (click)="showExceptionModal(item.requestId, 'xml')" class="fa fa-list pointer"></span></td>
                            <td data-title="Date">{{item.timestamp | UTC | date: 'dd.MM.y'}}</td>
                            <td data-title="Method"><span class="label" [ngClass]="{'label-default' : item.method == 'GET','label-primary' : item.method != 'GET'}">{{item.method}}</span></td>
                            <td data-title="Status"><span class="label" [ngClass]="{'label-success' : item.statusCode == '200','label-danger' : item.statusCode != '200'}">{{item.statusCode}}</span></td>
                            <td data-title="Subscription">mock-subscription</td>
                            <td data-title="Mode">mock-mode</td>
                            <td data-title="Topic">mock-topic</td>
                            <td data-title="Host">{{item.host}}</td>
                            <td data-title="IP Address">{{item.remoteIpAddress}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-footer" ng-show="items.total > 0">
                <div class="row">
                    <div class="col-md-6 col-sm-6 page-num-info">
                        <div class="inline">
                            Showing {{items.from}} to {{items.to}} of {{ items.total }} entries
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 text-right pagination-container">
                        <pagination [totalItems]="items.total" [maxSize]="5" [(ngModel)]="page" [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)" class="pagination-sm">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="exception-modal" bsModal #ExceptionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exceptionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{modal.title}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideExceptionModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <pre lang="xml" class="modal-body xml-display modal-pretty">
                <h4 class="text-center" *ngIf="!modal.message">Loading... Please wait</h4>
          {{modal.message}}
        </pre>
            </div>
        </div>
    </div>
</div>